.header {
  display: flex;
  background-color: rgb(55, 133, 223);
}
.header h3 {
  margin-left: 50px;
  color: white;
}
.header input {
  height: 20px;
  margin: auto;
  margin-left: 100px;
}

.superhero {
  display: flex;
  border: 1px solid steelblue;
  font-family: cursive;
  margin-left: -37px;
}
.superhero img {
  margin: auto;
  margin-left: 10px;
}
.superhero button {
  margin: auto;
  margin-right: 5px;
  background-color: rgb(55, 133, 223);
  color: white;
  height: 20px;
  border: antiquewhite;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}
#search_superhero {
  width: 40%;
}
#superhero_list {
  width: 40%;
  height: 500px;
  border: 2px solid black;
  overflow-y: scroll;
  position: absolute;

  background-color: white;
  margin-top: 45px;
  /* margin: auto; */
  margin-left: 257px;
}

.fav_superhero {
  display: flex;
  margin: inherit;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px cornflowerblue;
}
.fav_superhero img {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-left: 10px;
}
.fav_superhero h1 {
  margin: auto;
}
.fav_superhero button {
  margin: auto;
  margin-right: 10px;
  background-color: rgb(55, 133, 223);
  color: white;
  height: 20px;
  border: antiquewhite;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

#fav_list {
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: cursive;
}
